body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

button {
    display: block;
    background-color: #00B0EF;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 50px;    
}

.playing-field {
    border-collapse: collapse;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: none;
}

.playing-field td {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.playing-field td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


@keyframes drawCircle {
    0% {
        stroke-dasharray: 0, 188.4; /* Anfangszustand: kein Rand sichtbar */
    }
    100% {
        stroke-dasharray: 188.4, 0; /* Endzustand: kompletter Kreisrand sichtbar */
    }
}

.circle {
    fill: transparent; /* Innerer Bereich bleibt transparent */
    stroke: #00B0EF; /* Farbe des Kreises */
    stroke-width: 5;
    stroke-dasharray: 0, 188.4; /* Anfangszustand: Kreisrand unsichtbar */
    stroke-linecap: round; /* Abgerundete Enden für den Rand */
    animation: drawCircle 2s forwards; /* Animiert nur den Rand */
}

svg {
    width: 70px;
    height: 70px;
}