body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 50px;    
}

.playing-field {
    border-collapse: collapse;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: none;
}

.playing-field td {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}


.cross::before, .cross::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 80px;
    background-color: red;
    top: 10px;
    left: 45px;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

@keyframes fillAndStrokeAnimation {
    0% {
        stroke-dasharray: 0, 188.4;  /* Anfangszustand für den Rand */
        fill: transparent;           /* Anfangszustand für die Füllung (transparent) */
    }
    100% {
        stroke-dasharray: 188.4, 0;  /* Endzustand für den Rand (komplett sichtbar) */
        fill: #00B0EF;                  /* Endzustand für die Füllung (blau) */
    }
}

.circle {
    fill: transparent;
    stroke: transparent; /* Farbe des Kreises */
    stroke-width: 10;
    stroke-dasharray: 0, 188.4; /* Anfangszustand (Kreis ist unsichtbar) */
    stroke-linecap: round;
    animation: fillAndStrokeAnimation 3s forwards; /* Animation läuft einmal und bleibt in der Endposition */
}

svg {
    width: 70px;
    height: 70px;
}